@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: #dfe9f5;
}

.container{
    display: flex;
}

nav{
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    background: #fff;
    width: 280px;
    overflow: hidden;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.logo{
    text-align: center;
    display: flex;
    margin: 10px 0 0 10px;
}

.logo img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.logo span{
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

a{
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 14px;
    display: table;
    width: 280px;
    padding: 10px;
}

nav .fas,.fa-solid{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}

.back{
    position: absolute;
    bottom: 0;
    padding: 10px;
    border-radius: 5px;
    box-sizing: 10px;
    box-shadow: #999;
}

.nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
}

a:hover{
    background: #eee;
}

.logout{
    position: absolute;
    bottom: 0;
}

.main{
    position: relative;
    padding: 30px;
    width: 100%;
    display: flex;
}

.up-lab{
	text-align: center;
    padding-top: 50px;
	height: fit-content;
}

input{
    display: none;
}

.pdf-box{
    height: 100px;
    width: fit-content;
    display: flex;
    text-align: center;
    border-radius: 5px;
    padding: 40px 40px 0 20px;
    background: #fff;
    border: 1px dashed gray;
    &:hover{
        color: rgba(86, 0, 224,0.824);
        border: 1px dashed #5d1cc5;
    }
}

.main .upload-box{
	height: fit-content;
    border-top: 30px;
    padding-top: 10px;
    padding-left: 25px;
}

.main-menus{
	height: fit-content;
    padding: 30px;
    padding-left: 0;
}

.menu{
    padding: 20px;
}

.submit button{
    background: #3c00a0;
    color: #fff;
    width: fit-content;
    height:fit-content;
    position: absolute;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 7px 15px;
    right: 100px;
    &:hover{
        background: rgba(86, 0, 224,0.824);
    }
}

.note{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
}

.note p{
        font-size: small;
        font-family: sans-serif;
        font-style: italic;
}

.drop-down{
    padding-left: 5px;
    margin-left: 10px;
    box-shadow: #999;
    border-radius: 5px;
}